header {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3);
}

.menu {
    padding-right: 80px;
    height: 110px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.text_one {
    width: 51px;
    height: 36px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}

.text_two {
    padding: 0 46px;
    width: 57px;
    height: 36px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}

.text_three {
    width: 47px;
    height: 36px;  
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}

.text_four {
    padding: 0 0 0 46px;
    width: 99px;
    height: 36px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}

.menu_ul {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}


.menu_li {
    
    list-style: none;
}

.menu_link {
    color: black;
    text-decoration: none;
}

.main_logo {
    padding: 0 0 0 80px;
}

.logo {
    display: flex;
    text-decoration: none;
    width: 195px;
    height: 53px;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
    transition: .3s;
    
}



.logo:hover {
    width: 215px;
    font-size: 39px;
    transition: .3s;
}

